<nav class="pcoded-navbar">
  <div class="navbar-wrapper">
    <div class="navbar-brand header-logo">
      <a
        target="_blank"
        href="#"
        class="b-brand"
      >
        <div class="b-bg2">
          <img
                  class="rounded-circle"
                  style="width: 40px"
                  src="/static/assets/images/user/avatar-2.jpg"
                  alt="activity-user"
                />
        </div>
        <span class="b-title">{{request.user.username|capfirst}}</span>
      </a>
      <a class="mobile-menu" id="mobile-collapse" href="javascript:"
        ><span></span
      ></a>
    </div>
    <div class="navbar-content scroll-div">
      <ul class="nav pcoded-inner-navbar">
        <li class="nav-item pcoded-menu-caption">
          <label>PwC-PricewaterhouseCoopers</label>
        </li>
        <li
          data-username="dashboard Default Ecommerce CRM Analytics Crypto Project"
          class="nav-item {% if 'index' in segment %} active {% endif %}"
        >
          <a href="/" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-home"></i></span
            ><span class="pcoded-mtext">Dashboard</span></a
          >
        </li>
        <li data-username="Sample Page" class="nav-item">
          <a href="{% url 'graph'%}" class="nav-link"
            ><span class="pcoded-micon"
              ><i class="feather icon-sidebar"></i></span
            ><span class="pcoded-mtext">Statistics</span></a
          >
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>Data </label>
        </li>
        <li
          data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
          class="nav-item pcoded-hasmenu"
        >
          <a href="javascript:" class="nav-link"
            ><span class="pcoded-micon"><i class="feather icon-box"></i></span
            ><span class="pcoded-mtext">Projects</span></a
          >
          <ul class="pcoded-submenu">
            <li class="">
              <a href="{%url 'project-list'%}" class="">Project List</a>
            </li>
            
            {% if request.user.is_manager %}

            <li class=""><a href="{%url 'create_project'%}" class="">Add Project</a></li>
            {% endif %}
          </ul>
        </li>
        <li
        data-username="basic components Button Alert Badges breadcrumb Paggination progress Tooltip popovers Carousel Cards Collapse Tabs pills Modal Grid System Typography Extra Shadows Embeds"
        class="nav-item pcoded-hasmenu"
      >
        <a href="javascript:" class="nav-link"
          ><span class="pcoded-micon"><i class="feather icon-box"></i></span
          ><span class="pcoded-mtext">Manager</span></a
        >
        <ul class="pcoded-submenu">
          <li class="">
            <a href="{%url 'manager-list'%}" class="">Manager List</a>
          </li>
          
          {% if request.user.is_organisor %}

          <li class=""><a href="{%url 'manager-create'%}" class="">Add Manager</a></li>
          {% endif %}
        </ul>


        

        <li class="nav-item pcoded-menu-caption">
          <label>Auth</label>
        </li>

        <li data-username="Disabled Menu" class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <span class="pcoded-micon"><i class="feather icon-power"></i></span
            ><span class="pcoded-mtext">Logout</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
