{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} 
    {% block content %}
      <style>
          .container{
              margin-top: 60px;
          }
          #id_status {
            width: 150px;
            height: 40px;
            border-color:#1de9b6;
      </style>
    
   
               <div class="container">
                  <div class="page-header">
               <div class="page-block">
                 <div class="row align-items-center">
                   <div class="col-md-12">
                     <div class="page-header-title">
                       <h5 class="m-b-10"> Update Status</h5>
                     </div>
                     <ul class="breadcrumb">
                       <li class="breadcrumb-item">
                         <a href="/"><i class="feather icon-home"></i></a>
                       </li>
                       
                       <li class="breadcrumb-item">
                         <a href="javascript:">  Projects </a>
                       </li>
                     </ul>
                   </div>
                 </div>
               </div>
             </div>
             <hr>
            
 <h5>Update Status to the project :- <b style="color: #1de3bd;">{{project.title|capfirst}}</b></h5>
 <form class="p-0" id="contact" method="POST">
                            {% csrf_token%}
                              <div class="contact-form mt-4">
                                 <div class="row">
                      
                                    <div class="col-lg-6 col-sm-12 mb-3">
                                        <div class="form-group">
                                           <label class="mb-2" style="color:#6ecc75">Associates: </label>
                                           {{form}}
                                        </div>
                                     </div>
                                       
                                 </div>
                              </div>
                              <button  name="submit" type="submit" value="Submit"  class="btn btn-outline-success" data-wow-duration="1.0s">Update</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
           
         </div>
         {% endblock content %}
    
    
         {% block javascripts %}{% endblock javascripts %}