{% extends "layouts/base.html" %} {% block title %} Associates {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} 
 {% block content %}
<style>
  .container {
    margin-top: 10px;
  }
</style>
<div class="container">
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="page-header-title">
          <h5 class="m-b-10">Associates List</h5>
        </div>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/"><i class="feather icon-home"></i></a>
          </li>
        
          <li class="breadcrumb-item">
            <a href="javascript:">Associates</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-md-9 ">
 
    </div>
    <div class="col-md-3 ">
  {% if request.user.is_manager %}
  <a  class="label theme-bg2 text-white f-12" href="{% url  'assign_associates' project.id%}"
    >
      Assign Associate
    </a
  >
  {%endif%}
  </div>
</div>
  <hr />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Designation</th>
          <th scope="col">Technology</th>
         
          {% if request.user.is_manager %}
          <th>Action</th>
          {%endif%}
        </tr>
      </thead>
      <tbody>
        {% for i in e %}
        <tr>
          <td>{{i.associate.name}}</td>
          <td>{{i.associate.email}}</td>
          <td>{{i.associate.designation}}</td>

          <td> 
            {% for j in i.associate.technology.all %}{{ j }}<br/>{% endfor %}
            </td>
           
          
        <td >
         
         {% if request.user.is_manager %}
         
        
          
        <a
          href="{% url 'project-associates-delete' i.id %}"
          class="label theme-bg text-white f-12"
          >Delete</a
        > 
        {% endif %}
        </td>
        
      </tr>
        {% endfor%}
      </tbody>
    </table>
  </div>
  {% endblock content %}



  {% block javascripts %}{% endblock javascripts %}