     {% extends "layouts/base-fullscreen.html" %} 
     {% block title %}  Password Confirmation {% endblock %} 
     {% block content %}

     <div class="auth-wrapper">
       <div class="auth-content">
         <div class="auth-bg">
           <span class="r"></span>
           <span class="r s"></span>
           <span class="r s"></span>
           <span class="r"></span>
         </div>
         <div class="card">
           <div class="card-body text-center">
             <div class="mb-4">
               <i class="feather icon-unlock auth-icon"></i>
             </div>

             {% if validlink %}
              <h3>Enter new password</h3>
      
              <form action="" method="post">{% csrf_token %}
                  
                  {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                                <p class="text-danger">{{ error|escape }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                      <p class="text-danger">{{ error|escape }}</p>
                    {% endfor %}
                  {% endif %}

                  <div class="form-group">
                      <label for="id_new_password1">New password:</label>
                      <input required class="form-control" type="password" id="id_new_password1" name="new_password1" value="">
                  </p>
                  <div class="form-group">
                      <label for="id_new_password2">Confirm password:</label>
                      <input required class="form-control" type="password" id="id_new_password2" name="new_password2" value="">
                  </div>
                  <div class="row">
                      <div class="col-lg-l2 w-100 mt-2">
                          <input type="submit" class="btn btn-default" value="Change my password" />
                      </div>
                  </div>
              </form>
      
              {% else %}
      
              <h1>Password reset unsuccessful</h1>
      
              <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
      
              {% endif %}
             
           </div>
         </div>
       </div>
     </div>
     
     {% endblock content %}
     