




{% extends "base.html" %}
{% block content %}
  <style>
      .container{
          margin-top: 160px;
      }
  </style>



    <div class="main-content">
        <section class="iq-contactbox pt-0">
           <div class="container">
              <!-- <div class="row justify-content-between"> -->
                 <div class="col-lg-12 align-self-center">
                    <div class="contact-box">
                       <h3>Password reset completed.</h3>
                       <!-- <p>Please check your email.</p> -->
                       
                    </div>
                    <h3>You have successfully reset your password .<a href="{% url 'login' %}">Click here to Login.</a> </h3>
                 </div>
              </div>
           </div>
        </section>
        <!--=================================
        Clients -->
        
        <!--=================================
        Clients -->
     </div>
     {% endblock content %}


