{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% load static %}
<link rel="stylesheet" href="{% static 'assets/plugins/chart-morris/css/morris.css'%}"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <!-- [ breadcrumb ] start -->

    <!-- [ breadcrumb ] end -->
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
          <!--[ daily sales section ] start-->
          <div class="col-md-6 col-xl-6">
            <div class="card Monthly-sales" style="    height: 162px">
             
              <div class="card-block" style="background-image: url('/static/images/plh.png'); background-size: contain;
    height: 231px;
    background-repeat: no-repeat;">
                <h6 class="mb-4"></h6>
                <div class="row d-flex align-items-center">
                  <div class="col-9">
                  
                    <h4 class="f-w-300 d-flex align-items-center m-b-0">
                    
                    </h4>
                  </div>
                  <div class="col-3 text-right">
                    <p class="m-b-0"></p>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6 col-xl-6">
           
            <div class="card card-event" >
              <div class="card-block" style="max-height: 160px;">
                <div class="card-block" style="background-image: url('/static/images/plh.png'); background-size: cover; height: 120px"></div>
                <div class="row align-items-center justify-content-center">
                  <div class="col">
                    <h5 class="m-0"></h5>
                  </div>
                  <div class="col-auto">
                    
                  </div>
                </div>
                <h5 class="mt-3 f-w-300" style="color: red ;">
                 <b> </b>
                </h5>
                <h6 class="text-muted mt-4 mb-0">
                  
                </h6>
              </div>
            </div>
          </div> -->
          <!--[ daily sales section ] end-->
          <!--[ Monthly  sales section ] starts-->
          <div class="col-md-6 col-xl-6">
            <div class="card Monthly-sales">
              <div class="card-block">
                <h6 class="mb-4"> Welcome, {{request.user.username|capfirst}}</h6>
                <div class="row d-flex align-items-center">
                  <div class="col-9">
                  
                    <h4 class="f-w-300 d-flex align-items-center m-b-0">
                     {{request.user|safe}}
                    </h4>
                  </div>
                  <div class="col-3 text-right">
                    <p class="m-b-0"></p>
                  </div>
                </div>
                <div class="progress m-t-30" style="height: 7px">
                  <div
                    class="progress-bar progress-c-theme2"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow='100'
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <!--[ Monthly  sales section ] end-->
          <!--[ year  sales section ] starts-->
          <!-- <div class="col-md-12 col-xl-4">
            <div class="card yearly-sales">
              <div class="card-block" style=" max-height: 160px;">
                <h6 class="mb-4"> Total Projects</h6>
                <div class="row d-flex align-items-center">
                  <div class="col-9">
                    <h3 class="f-w-300 d-flex align-items-center m-b-0">
                      {{pc}}
                    </h3>
                  </div>
                  <div class="col-3 text-right">
                    <p class="m-b-0">{{pc}}%</p>
                  </div>
                </div>
                <div class="progress m-t-30" style="height: 7px">
                  <div
                    class="progress-bar progress-c-theme"
                    role="progressbar"
                    style="width: {{pc}}%"
                    aria-valuenow="{{pc}}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div> -->
          <!--[ year  sales section ] end-->
          <!--[ Recent Users ] start-->
          <div class="col-xl-8 col-md-6" >
            {% include 'home/allprojects_list_component.html' %}
          </div>
          <!--[ Recent Users ] end-->

          <!-- [ statistics year chart ] start -->
          <div class="col-xl-4 col-md-6">
            <div class="card daily-sales">
              <div class="card-block" style=" max-height: 174px;">
                <div class="card-title">Overall statistics</div>
                <div class="d-flex flex-wrap justify-content-around pb-2 pt-4">
                  <div class="px-2 pb-2 pb-md-0 text-center">
                    <h3 class="progress-bar progress-c-theme">
                      {{ co}}
                    </h3>
                    <h6 class="fw-bold mt-3 mb-0">Director</h6>
                  </div>
                  <div class="px-2 pb-2 pb-md-0 text-center">
                    <h3 class="progress-bar progress-c-theme">
                      {{ cm}}
                    </h3>
                    <h6 class="fw-bold mt-3 mb-0">Managers</h6>
                  </div>
                  <div class="px-2 pb-2 pb-md-0 text-center">
                    <h3 class="progress-bar progress-c-theme">
                      {{ cp}}
                    </h3>
                    <h6 class="fw-bold mt-3 mb-0">Projects</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-block border-bottom">
                <div class="row d-flex align-items-center">
                  <div class="col-auto">
                    <i class="feather icon-zap f-30 text-c-green"></i>
                  </div>
                  <div class="col">
                    <h3 class="f-w-300">{{pc}}</h3>
                    <span class="d-block text-uppercase">Total Projects</span>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <div class="row d-flex align-items-center">
                  <div class="col-auto">
                    <i class="feather icon-zap f-30 text-c-green"></i>
                  </div>
                  <div class="col">
                    <h3 class="f-w-200">{{ta}}</h3>
                    <span class="d-block text-uppercase">Total Accociates</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- [ statistics year chart ] end -->
          <!--[social-media section] start-->
          <!-- <div class="col-md-12 col-xl-4">
            <div class="card card-social">
              <div class="card-block border-bottom">
                <div class="row align-items-center justify-content-center">
                  <div class="col-auto">
                    <i class="fab fa-facebook-f text-primary f-36"></i>
                  </div>
                  <div class="col text-right">
                    <h3>12,281</h3>
                    <h5 class="text-c-green mb-0">
                      +7.2% <span class="text-muted">Total Likes</span>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <div
                  class="row align-items-center justify-content-center card-active"
                >
                  <div class="col-6">
                    <h6 class="text-center m-b-10">
                      <span class="text-muted m-r-5">Target:</span>35,098
                    </h6>
                    <div class="progress">
                      <div
                        class="progress-bar progress-c-theme"
                        role="progressbar"
                        style="width: 60%; height: 6px"
                        aria-valuenow="60"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="text-center m-b-10">
                      <span class="text-muted m-r-5">Duration:</span>3,539
                    </h6>
                    <div class="progress">
                      <div
                        class="progress-bar progress-c-theme2"
                        role="progressbar"
                        style="width: 45%; height: 6px"
                        aria-valuenow="45"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card card-social">
              <div class="card-block border-bottom">
                <div class="row align-items-center justify-content-center">
                  <div class="col-auto">
                    <i class="fab fa-twitter text-c-blue f-36"></i>
                  </div>
                  <div class="col text-right">
                    <h3>11,200</h3>
                    <h5 class="text-c-purple mb-0">
                      +6.2% <span class="text-muted">Total Likes</span>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <div
                  class="row align-items-center justify-content-center card-active"
                >
                  <div class="col-6">
                    <h6 class="text-center m-b-10">
                      <span class="text-muted m-r-5">Target:</span>34,185
                    </h6>
                    <div class="progress">
                      <div
                        class="progress-bar progress-c-green"
                        role="progressbar"
                        style="width: 40%; height: 6px"
                        aria-valuenow="40"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="text-center m-b-10">
                      <span class="text-muted m-r-5">Duration:</span>4,567
                    </h6>
                    <div class="progress">
                      <div
                        class="progress-bar progress-c-blue"
                        role="progressbar"
                        style="width: 70%; height: 6px"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-4">
            <div class="card card-social">
              <div class="card-block border-bottom">
                <div class="row align-items-center justify-content-center">
                  <div class="col-auto">
                    <i class="fab fa-google-plus-g text-c-red f-36"></i>
                  </div>
                  <div class="col text-right">
                    <h3>10,500</h3>
                    <h5 class="text-c-blue mb-0">
                      +5.9% <span class="text-muted">Total Likes</span>
                    </h5>
                  </div>
                </div>
              </div>
              <div class="card-block">
                <div
                  class="row align-items-center justify-content-center card-active"
                >
                  <div class="col-6">
                    <h6 class="text-center m-b-10">
                      <span class="text-muted m-r-5">Target:</span>25,998
                    </h6>
                    <div class="progress">
                      <div
                        class="progress-bar progress-c-theme"
                        role="progressbar"
                        style="width: 80%; height: 6px"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                  <div class="col-6">
                    <h6 class="text-center m-b-10">
                      <span class="text-muted m-r-5">Duration:</span>7,753
                    </h6>
                    <div class="progress">
                      <div
                        class="progress-bar progress-c-theme2"
                        role="progressbar"
                        style="width: 50%; height: 6px"
                        aria-valuenow="50"
                        aria-valuemin="0"
                        aria-valuemax="100"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!--[social-media section] end-->
          <!-- [ rating list ] starts-->
          <div class="col-xl-4 col-md-12 m-b-30">
            
              <div class="card">
                <div class="card-header">
                  <h5>Pwc</h5>
                </div>
                <div class="card-block" style="background-image: url('/static/assets/images/widget/dashborad-1.png'); background-size: contain;
                height: 401px;
                background-repeat: no-repeat;">
                
                </div>
              
            </div>
          </div>
          <!-- [ rating list ] end-->
          <!-- <div class="col-xl-8 col-md-12 m-b-30">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="home-tab"
                  data-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="false"
                  >Today</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active show"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="true"
                  >This Week</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="contact-tab"
                  data-toggle="tab"
                  href="#contact"
                  role="tab"
                  aria-controls="contact"
                  aria-selected="false"
                  >All</a
                >
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Activity</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">3:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-2.jpg"
                            alt="activity-user"
                          />Albert Andersen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Jumps over the lazy</h6>
                      </td>
                      <td>
                        <h6 class="m-0">2:37 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-red">Missed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-red f-10"></i>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-3.jpg"
                            alt="activity-user"
                          />Silje Larsen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Dog the quick brown</h6>
                      </td>
                      <td>
                        <h6 class="m-0">10:23 AM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-purple">Delayed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-purple f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">4:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="tab-pane fade active show"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Activity</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-2.jpg"
                            alt="activity-user"
                          />Albert Andersen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Jumps over the lazy</h6>
                      </td>
                      <td>
                        <h6 class="m-0">2:37 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-red">Missed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-red f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">3:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">4:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-3.jpg"
                            alt="activity-user"
                          />Silje Larsen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Dog the quick brown</h6>
                      </td>
                      <td>
                        <h6 class="m-0">10:23 AM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-purple">Delayed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-purple f-10"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div
                class="tab-pane fade"
                id="contact"
                role="tabpanel"
                aria-labelledby="contact-tab"
              >
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>User</th>
                      <th>Activity</th>
                      <th>Time</th>
                      <th>Status</th>
                      <th class="text-right"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-3.jpg"
                            alt="activity-user"
                          />Silje Larsen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Dog the quick brown</h6>
                      </td>
                      <td>
                        <h6 class="m-0">10:23 AM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-purple">Delayed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-purple f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">3:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-2.jpg"
                            alt="activity-user"
                          />Albert Andersen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">Jumps over the lazy</h6>
                      </td>
                      <td>
                        <h6 class="m-0">2:37 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-red">Missed</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-red f-10"></i>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6 class="m-0">
                          <img
                            class="rounded-circle m-r-10"
                            style="width: 40px"
                            src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg"
                            alt="activity-user"
                          />Ida Jorgensen
                        </h6>
                      </td>
                      <td>
                        <h6 class="m-0">The quick brown fox</h6>
                      </td>
                      <td>
                        <h6 class="m-0">4:28 PM</h6>
                      </td>
                      <td>
                        <h6 class="m-0 text-c-green">Done</h6>
                      </td>
                      <td class="text-right">
                        <i class="fas fa-circle text-c-green f-10"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div> -->
          <div class="col-xl-8 col-md-12 m-b-30">
            {% include 'home/allmanager_list_component.html' %}
          </div>
         
         
       
     
  </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-xl-8 col-md-12 m-b-30">
  <div class="main-body">
    <div class="page-wrapper">
<div class="col-xl-6">
    <div class="card">
      <div class="card-header">
        <h5>Status</h5>
      </div>
      <div class="card-block">
        <div id="morris-donut-chart" style="height: 300px"></div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
    -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}
