{% extends "layouts/base.html" %} {% block title %} Project Detail {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}


<link
  rel="stylesheet"
  href="/static/assets/plugins/chart-morris/css/morris.css"
/>

{% endblock stylesheets %} 
{% block content %}
<style>
    .container {
      margin-top: 10px;
    }
  </style>
  <div class="container">
    <ul class="list-group" style="color: #182443">
      <li
        class="list-group-item active"
        style="border-color: #4fc98d; background-color:#3f4d67"
      >
        This is the detail of <b>{{project.title}}</b>
      </li>
  
      <li class="list-group-item">Title: {{project.title}}</li>
      <li class="list-group-item">Client: {{project.client}}</li>
      <li class="list-group-item">
        Project Start Date: {{project.from_duration}}
      </li>
      <li class="list-group-item">Project End Date: {{project.to_duration}}</li>
      <li class="list-group-item">Status: {{project.status}}</li>
      <li class="list-group-item">
        Project Phases:
        <table class="table table-bordered" style="color: #b52e2e">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Phase</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
            </tr>
          </thead>
          <tbody>
            {% for i in phasedurationofproject %}
            <tr>
              <th scope="col">{{ forloop.counter }}</th>
              <th scope="col">{{i.phase}}</th>
              <th scope="col">{{i.from_date}}</th>
              <th scope="col">{{i.to_date}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li>
        <div class="card">
            <div class="card-header">
                <h5>Phase Duration</h5>
            </div>
            <div class="card-block">
                <div id="morris-area-chart" class="ChartShadow" style="height:300px"></div>
            </div>
        </div>
      </li>
      <li class="list-group-item">
        Associates:
        <table class="table table-bordered" style="color: #b52e2e">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Designation</th>
            </tr>
          </thead>
          <tbody>
            {% for i in associates %}
            <tr>
              <th scope="col">{{ forloop.counter }}</th>
              <th scope="col">{{i.associate.name}}</th>
              <th scope="col">{{i.associate.email}}</th>
              <th scope="col">{{i.associate.designation}}</th>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </li>
      <li class="list-group-item">Manager: {{project.manager}}</li>
      <li class="list-group-item">Organisation: {{project.organistation}}</li>
      <li class="list-group-item">Description: {{project.description}}</li>
      <li class="list-group-item">Created Date: {{project.created}}</li>
     
     
    </ul>
  </div>
 
{% endblock content %}
{% block javascripts %}
<script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
<script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
<script src="/static/assets/js/pages/chart-morris-custom.js"></script>
<script>
  Morris.Bar({
       element: 'morris-area-chart',
       data: [{% for i, j in a %}
         {
               y: '{{i}}',
               a:{{j}},
           },
           {%endfor%}
           
       ],
       xkey: 'y',
       stacked: true,
       barSizeRatio: 0.70,
       barGap: 3,
       resize: true,
       responsive:true,
       ykeys: ['a'],
       labels: ['Projects'],
       barColors: ["0-#1de9b6-#1dc4e9", "0-#899FD4-#A389D4", "#04a9f5"]
   });
</script>

{% endblock javascripts %}